VUA-PPPK-Tembo-Upute (2).pdf
Projekt_1/SomeInfo.txt

Projekt_2/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.sqlite3

Projekt_2/.venv/
Projekt_2/venv/
Projekt_2/env/

Projekt_2/.ipynb_checkpoints/

Projekt_2/.vscode/
Projekt_2/.idea/
*.iml

Projekt_2/.DS_Store
Projekt_2/Thumbs.db

Projekt_2/data/*
!Projekt_2/data/TCGA_clinical_survival_data.tsv
!Projekt_2/data/.gitkeep
