VUA-PPPK-Tembo-Upute (2).pdf
Projekt_1/SomeInfo.txt

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.sqlite3

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

data/*
!data/TCGA_clinical_survival_data.tsv
!data/.gitkeep
