@model HospitalApp.Models.Recipe
@{
    Doctor? doctor = ViewBag.Doctor as HospitalApp.Models.Doctor;
}

<div class="modal fade" id="addRecipeModal" tabindex="-1" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="Add" asp-controller="Recipe">
                <input type="hidden" name="PatientId" value="@Model.PatientId" />
                <input type="hidden" name="DoctorId" value="@doctor?.Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="addRecipeModalLabel">Create new prescription</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="medicine" class="form-label">Medicine</label>
                        <input type="text" class="form-control" id="medicine" name="Medicine" required />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="Description" required />
                    </div>
                    <div class="mb-3">
                        <label for="startOfMedication" class="form-label">Start Of Medication</label>
                        <input type="date" class="form-control" id="startOfMedication" name="StartOfMedication" required />
                    </div>
                    <div class="mb-3">
                        <label for="endOfMedication" class="form-label">End Of Medication</label>
                        <input type="date" class="form-control" id="endOfMedication" name="EndOfMedication" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Recipe</button>
                </div>
            </form>
        </div>
    </div>
</div>